<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Integrating Sentiment Analysis With Machine Learning for Cyberbullying Detection on Social Media</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="../static/plugins/bootstrap/bootstrap.min.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="../static/plugins/themify-icons/themify-icons.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="../static/plugins/slick/slick.css">
  <!-- venobox popup -->
  <link rel="stylesheet" href="../static/plugins/Venobox/venobox.css">
  <!-- aos -->
  <link rel="stylesheet" href="../static/plugins/aos/aos.css">

  <!-- Main Stylesheet -->
  <link href="../static/css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="../static/images/favicon-32x32.png" type="image/x-icon">
  <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">

</head>

<body>
  

<!-- navigation -->
<section class="fixed-top navigation">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/"><span class="navbar-logo-text" style="font-size:2rem; font-weight:700; color:#ff512f; letter-spacing:1px;">CBD</span></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- navbar -->
      <div class="collapse navbar-collapse text-center" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
        <a href="/logon" class="btn btn-primary ml-lg-3 primary-shadow">Register</a>
      </div>
    </nav>
  </div>
</section>
<!-- /navigation -->

<!-- hero area -->
<section class="hero-section hero" data-background="" style="background-image: url(../static/images/hero-area/banner-bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center zindex-1">
        <h1 class="mb-3">Integrating Sentiment Analysis With Machine Learning<br>for Cyberbullying Detection on Social Media</h1>
        <p class="mb-4">A modern solution to identify and prevent cyberbullying using advanced sentiment analysis and machine learning models on social media content.</p>
        <a href="#" class="btn btn-secondary btn-lg">explore us</a>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <div id="scene">
    <img class="img-fluid hero-bg-1 up-down-animation" src="../static/images/background-shape/feature-bg-2.png" alt="">
    <img class="img-fluid hero-bg-2 left-right-animation" src="../static/images/background-shape/seo-ball-1.png" alt="">
    <img class="img-fluid hero-bg-3 left-right-animation" src="../static/images/background-shape/seo-half-cycle.png" alt="">
    <img class="img-fluid hero-bg-4 up-down-animation" src="../static/images/background-shape/green-dot.png" alt="">
    <img class="img-fluid hero-bg-5 left-right-animation" src="../static/images/background-shape/blue-half-cycle.png" alt="">
    <img class="img-fluid hero-bg-6 up-down-animation" src="../static/images/background-shape/seo-ball-1.png" alt="">
    <img class="img-fluid hero-bg-7 left-right-animation" src="../static/images/background-shape/yellow-triangle.png" alt="">
    <img class="img-fluid hero-bg-8 up-down-animation" src="../static/images/background-shape/service-half-cycle.png" alt="">
    <img class="img-fluid hero-bg-9 up-down-animation" src="../static/images/background-shape/team-bg-triangle.png" alt="">
  </div>
</section>
<!-- /hero-area -->

<!-- marketing -->
<section class="section-lg seo">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="seo-image">
          <img class="img-fluid" src="../static/images/marketing/marketing (1).png" alt="form-img">
        </div>
      </div>
      <div class="col-md-5">
        <h2 class="section-title">Why Cyberbullying Detection Matters</h2>
        <p>Cyberbullying is a growing concern on social media platforms. Our project leverages the latest in sentiment analysis and machine learning to help create safer online communities by identifying harmful content before it spreads.</p>
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid seo-bg" src="../static/images/backgrounds/seo-bg.png" alt="seo-bg">
  <!-- background-shape -->
  <img class="seo-bg-shape-1 left-right-animation" src="../static/images/background-shape/seo-ball-1.png" alt="bg-shape">
  <img class="seo-bg-shape-2 up-down-animation" src="../static/images/background-shape/seo-half-cycle.png" alt="bg-shape">
  <img class="seo-bg-shape-3 left-right-animation" src="../static/images/background-shape/seo-ball-2.png" alt="bg-shape">
</section>
<!-- /marketing -->

<!-- service -->
<section class="section-lg service">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 order-2 order-md-1">
        <h2 class="section-title">Our Services</h2>
        <p class="mb-4">We provide advanced solutions for detecting cyberbullying on social media using sentiment analysis and machine learning. Our services include model integration, data analysis, and platform customization to help ensure safer online communities.</p>
        <ul class="pl-0 service-list">
          <li><i class="ti-layout-tab-window text-purple"></i>Real-time cyberbullying detection</li>
          <li><i class="ti-layout-placeholder text-purple"></i>Customizable sentiment analysis pipelines</li>
          <li><i class="ti-support text-purple"></i>Expert support for integration and deployment</li>
        </ul>
      </div>
      <div class="col-md-7 order-1 order-md-2">
        <img class="img-fluid layer-3" src="../static/images/service/service (1).png" alt="service">
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid service-bg" src="../static/images/backgrounds/service-bg.png" alt="service-bg">
  <!-- background shapes -->
  <img class="service-bg-shape-1 up-down-animation" src="../static/images/background-shape/service-half-cycle.png" alt="background-shape">
  <img class="service-bg-shape-2 left-right-animation" src="../static/images/background-shape/feature-bg-2.png" alt="background-shape">
</section>
<!-- /service -->


<!-- footer -->
<footer class="footer-section footer" style="background-image: url(../static/images/backgrounds/footer-bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
        <!-- logo -->
        <a class="navbar-brand" href="/home"><span class="navbar-logo-text" style="font-size:2rem; font-weight:700; color:#ff512f; letter-spacing:1px;">CBD</span></a>
      </div>
      <!-- footer menu -->
      
      <!-- footer social icon -->
      <nav class="col-12">
        <ul class="list-inline text-lg-right text-center social-icon">
          <li class="list-inline-item">
            <a class="facebook" href="#"><i class="ti-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="twitter" href="#"><i class="ti-twitter-alt"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="linkedin" href="#"><i class="ti-linkedin"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="black" href="#"><i class="ti-github"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="../static/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="../static/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="../static/plugins/slick/slick.min.js"></script>
<!-- venobox -->
<script src="../static/plugins/Venobox/venobox.min.js"></script>
<!-- aos -->
<script src="../static/plugins/aos/aos.js"></script>
<!-- Main Script -->
<script src="../static/js/script.js"></script>

</body>
</html>