<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="utf-8">
  <title>Page Not Found - CBD</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../static/plugins/themify-icons/themify-icons.css">
  <link href="../static/css/style.css" rel="stylesheet">
  <link rel="shortcut icon" href="../static/images/favicon-32x32.png" type="image/x-icon">
  <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
</head>
<body>
<section class="fixed-top navigation">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/home"><span class="navbar-logo-text" style="font-size:2rem; font-weight:700; color:#ff512f; letter-spacing:1px;">CBD</span></a>
    </nav>
  </div>
</section>
<section class="hero-section hero d-flex align-items-center justify-content-center" style="background-image: url(../static/images/hero-area/banner-bg.png); min-height: 100vh;">
  <div class="container text-center">
    <h1 class="display-1 font-weight-bold" style="color:#ff512f;">404</h1>
    <h2 class="mb-4">Oops! Page Not Found</h2>
    <p class="mb-5">The page you are looking for doesn't exist or has been moved.<br>Return to the homepage to continue exploring.</p>
    <a href="/home" class="btn btn-primary btn-lg">Go to Home</a>
  </div>
  <div id="scene">
    <img class="img-fluid hero-bg-1 up-down-animation" src="../static/images/background-shape/feature-bg-2.png" alt="">
    <img class="img-fluid hero-bg-2 left-right-animation" src="../static/images/background-shape/seo-ball-1.png" alt="">
    <img class="img-fluid hero-bg-3 left-right-animation" src="../static/images/background-shape/seo-half-cycle.png" alt="">
    <img class="img-fluid hero-bg-4 up-down-animation" src="../static/images/background-shape/green-dot.png" alt="">
    <img class="img-fluid hero-bg-5 left-right-animation" src="../static/images/background-shape/blue-half-cycle.png" alt="">
    <img class="img-fluid hero-bg-6 up-down-animation" src="../static/images/background-shape/seo-ball-1.png" alt="">
    <img class="img-fluid hero-bg-7 left-right-animation" src="../static/images/background-shape/yellow-triangle.png" alt="">
    <img class="img-fluid hero-bg-8 up-down-animation" src="../static/images/background-shape/service-half-cycle.png" alt="">
    <img class="img-fluid hero-bg-9 up-down-animation" src="../static/images/background-shape/team-bg-triangle.png" alt="">
  </div>
</section>
<footer class="footer-section footer" style="background-image: url(../static/images/backgrounds/footer-bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
        <a class="navbar-brand" href="/home"><span class="navbar-logo-text" style="font-size:2rem; font-weight:700; color:#ff512f; letter-spacing:1px;">CBD</span></a>
      </div>
      <nav class="col-lg-8 align-self-center mb-5">
        <ul class="list-inline text-lg-right text-center footer-menu">
          <li class="list-inline-item"><a href="/home">Home</a></li>
          <li class="list-inline-item"><a href="/about">About</a></li>
          <li class="list-inline-item"><a href="../static/Notebook.html">Notebook</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
<script src="../static/plugins/jQuery/jquery.min.js"></script>
<script src="../static/plugins/bootstrap/bootstrap.min.js"></script>
<script src="../static/js/script.js"></script>
</body>
</html> 